<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.time-right {
  float: right;
  color: #aaa;
}

.name-left {
  float: left;
  color: #999;
}
</style>
</head>
<body>

<center><h2>Chat Page</h2></center>
<div class="container">
<div class="container">
  
  <span class="time-right">11:00</span>
   <span class="time-left">name</span>
   <p>First message</p>
</div>
<div class="container">
  
  <span class="time-right">11:00</span>
   <span class="name-left">name</span>
   <p>second message</p>
</div>
</div>



<div class= "container darker">
 <input type="password" id = "passwid" placeholder="Enter message" name="password" required class="container">
 <button type="LOGIN" id="loginButton" class= "container">SEND</button>
 <button type="LOGIN" id="exitButton" class= "container">LEAVE CHAT</button>
 Back to <a href="/auth/login"> Login </a> 
<div/>
 

</body>
</html>
